spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://db.hvkezmohhdfazwammrne.supabase.co:5432/postgres
    username: postgres
    password: SWD392_Group_5
    driver-class-name: org.postgresql.Driver
    hikari:
      data-source-properties:
        ssl: require
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:example@com}
    password: ${MAIL_PASSWORD:123456}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

server:
  port: ${PORT:8080}

app:
  frontend:
    url: ${FRONTEND_URL:http://localhost:8080}

eureka:
  client:
    enabled: false
  #   service-url:
  #     defaultZone: http://localhost:8761/eureka/
  #   register-with-eureka: true
  #   fetch-registry: true
  # instance:
  #   prefer-ip-address: true

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000 # 24 hours in milliseconds

# Swagger/OpenAPI Configuration
springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  show-actuator: false

logging:
  level:
    com.example.microservice.user_service: DEBUG
    org.springframework.security: DEBUG
